<div  id= "footo">
<footer class= "footer">
<small>
Copyright &copy;<a id ="footerfont"href= "https://">The complete Ruby on rails Developer</a> by <a id ="footerfont"href= "http://">Hatem Mohamed</a>
</small>
<nav>
<ul>
<li><%= link_to "About" ,about_path,id: "footerfont"%></li>
</ul>
</nav>
</footer>
</div>